.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .pagination a:hover,
  .pagination a:focus {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: var(--text-muted);
    color: white;
    outline: none;
  }

  &:active {
    transform: scale(0.90);
  }
}

.isActive {
  background-color: var(--primary-light);
  color: white;
  pointer-events: none;
}